<div id="<%= dom_id room %>">

  <div class="row">
    <div class="col-sm-1">
      <%= link_to room do %>
       <%= display_user_image_profile(invite.room.user) %>
      <% end %>
    </div>
    
      <div class="col">
        <% candidate = InvitesHelper::User.new(invite.room) %>
        <%= link_to room, class:"link-success" do %>
          <strong>@<%= candidate.username %></strong> <br>
          <strong><%= candidate.email %></strong> 
        <% end %>
      </div>
    
    <% if !invite.room.invite.opened? %>
      <div class="col d-flex justify-content-center">
        <span class="badge bg-success">Novo convite</span>
      </div>
    <% end %>
    <div class="col d-flex justify-content-end">
     <%= button_to invite.room, method: :delete, class:"btn btn-danger my-1", form:{ data: { turbo_confirm: "Todas as conversas contidas neste chat serão eliminadas. Tens a certeza que pretendes eliminar?"} }  do %>
      <i class="bi bi-trash-fill"></i>
     <% end %>

    </div>
  </div>
  

</div>