<div class="d-flex <%= text_direction(message.user) %>">
  <div class="card text-center <%= message_color(message.user) %> my-1" id="<%= dom_id(message)%>">
    <div class="card-body">
      <p class="card-text">
   		 	<%= message.content %>
			<br>
			<small class="text-success "> <%=  time_ago_in_words(message.created_at) %> </small>
	  </p>
    </div>
  </div>
</div>