<main class="container col-lg-6 my-4">
  <div class="card">
    <div class="card-body">
      <div class="card-title">
      	<h4 class="text-center">Sign up</h4>
      </div>
      <div class="row my-2">

      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>


          <%= f.text_field :username,  autofocus: true %>
          <%= f.file_field :image %>
          <%= f.select :type_subscription, User.type_subscriptions %>
          <%= f.collection_select :country_id, Country.order(:name_country), :id, :name_country %>
          <%= f.text_field :localization_description%>
          <%= f.email_field :email, autocomplete: "email" %>

          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>

          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

        <div class="actions mb-3 d-grid gap-2 text-center">
          <%= f.submit "Sign up",  class:"btn btn-success" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>

      </div>
  </div>
</main>
