<%= bootstrap_form_for(job) do |form| %>
  <% if job.errors.any? %>
    <div class="row d-flex justify-content-center">
        <div class="col-sm-9">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
          
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

          <ul>
            <% job.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

  <% end %>


<main class="container col-lg-6 my-4">
  <div class="card">
    <div class="card-body">
      <div class="card-title">
      	<h4 class="text-center">Postar Vaga</h4>
      </div>
      <div class="row my-2">

      <%= form.text_field :title, label: "Titulo", placeholder:"Título", class:"form-control" %>
      <%= form.collection_select :category_id, Category.order(:name), :id, :name, { label: "Categória"}  %>
		  <%= form.select :type_job, Job.type_jobs, { label: "Local"} %>
		  <%= form.number_field :salary, label:"Salário", placeholder:"$ 00" %>
		  <%= form.rich_text_area :description, label:"Descrição", size: "100x100", placeholder: "Descreve o detalhe da oportunidade. Ex: A empresa X está a contratar candidatos com habilidade Y para trabalhar como K..." %>

		<div class="mb-3 d-grid gap-2">
      <%= form.submit "Postar Vaga", class:"btn btn-success" %>
		</div>
      </div>
  </div>
</main>

 




   
 
<% end %>
