<%= form_with(model: job) do |form| %>
  <% if job.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<main class="container col-lg-6 my-4">
  <div class="card">
    <div class="card-body">
      <div class="card-title">
      	<h4 class="text-center">Postar Vaga</h4>
      </div>
      <div class="row my-2">

    <div class="mb-3">
      <%= form.text_field :title,  placeholder:"Título", class:"form-control" %>
		</div>
    <div class="mb-3">
      <%= form.select :category, category_name_and_key_vaue(@categories), class:"form-select"%>
    </div>
	   <div class="mb-3">
		  <input type="email" class="form-control"  placeholder="name@example.com">
		</div>
		  <div class="mb-3">
		  <input type="number" class="form-control"  placeholder="Salário">
		</div>
		  <div class="mb-3">
		  	<label for="date">Praso da candidatura</label>
		  <input type="date" class="form-control">
		</div>
		<div class="mb-3">
		  <textarea class="form-control" rows="3" placeholder="Descrição"></textarea>
		</div>
		<div class="mb-3 d-grid gap-2">
			<button class="btn btn-info">Postar Vaga</button>
		</div>
      </div>
  </div>
</main>








  
  <div>
  <%= form.label :type_job, style: "display: block" %>
   <%= form.select :type_job, Job.type_jobs %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :salary, style: "display: block" %>
    <%= form.number_field :salary %>
  </div>

  <div>
    <%= form.label :expiry_date, style: "display: block" %>
    <%= form.date_field :expiry_date %>
  </div>

 
  <div>
    <%= collection_select(:job, :category_id, Category.all, :id, :name_with_initial, prompt: "Please select a category") %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
