  <div class="card" >
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
          <h5 class="card-title"> <i class="bi-briefcase-fill"></i> <%= job.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <i class="bi-tags-fill"></i> <%= job.category.name %>, 
            <i class="bi-geo-alt-fill"></i> <%= job.type_job %>
          </h6>
        </div>
        <div class="col">
          <% if user_have_applied?(job) %>
          <strong class="text-success"> Você já se candidatou a está vaga</strong>
          <% end %>
          <% if is_the_owner_of_the_job?(job) %>
              <% if exist_any_candidates?(job) %>

              <%= link_to "Ver todos os candidatos", candidates_users_job_path(job), class:"btn btn-outline-success my-1 col-sm-12" %>

              <% else %>
                <strong class="text-danger">Não existe nenhum candidato para este vaga</strong>
              <% end %>
          <% end %>

        </div>
      </div>

      <% delete_job_automatically(job)  %>

      <div class="row">
        
        <div class="col-sm-3">
          <% user = get_user_by_job(job) %>
          <div class="d-block">
            <%= display_user_image(user)%> 
          </div>
          <div class="d-block">
            <span class="badge rounded-pill bg-success col-sm-10"> Candidatos <%= job.applayers %></span>

          </div>

          <% if job.number_days > 10%>
          <div class="d-block">
            <span class="badge rounded-pill bg-warning text-black col-sm-10"> <%= job.number_days %> dias para encerrar a vaga</span>
          </div>
          <% else %>
          <div class="d-block">
            <span class="badge rounded-pill bg-danger col-sm-10"> <%= job.number_days %> dias paraencerrar a vaga</span>
          </div>
          <% end %>
          
          
        </div>


        <div class="col">
          <% if @page_name_index %>
            <p class="card-text" ><%=  truncated_html(job.content) %></p>
          
            
          <% else %>
            <p class="card-text" ><%= job.content %></p>
          <% end %>
          

          <% if @page_name_index %>
            <%= link_to "Mostrar está oportunidade", job, class:"btn btn-outline-primary my-1" %>
          <% end %>

          <% if user_have_applied?(job) %>
      
            <%= button_to "Retirar a minha candidatura", destroy_users_job_path(job), class:"btn btn-outline-danger my-1" %> 

          <% elsif !is_the_owner_of_the_job?(job) %>
             <%= link_to "Candidatar-me agora", apply_users_job_path(job), class:"btn btn-success my-1" %>  
          <% end %>


          <% if is_the_owner_of_the_job?(job) or is_admin?(job)%>

            <%= link_to "Editar está oportunidade", edit_job_path(job), class:"btn btn-warning my-1" %>
            
            <%= button_to "Eliminar está oportunidade", job, method: :delete, class:"btn btn-outline-link my-1", form:{ data: { turbo_confirm: "Tens a certeza?"} }  %>
          <% end %>

        </div> 

      </div>

    </div>
  </div>

 <br>
