
  <div class="card" >
    <div class="card-body">
      <h5 class="card-title"><%= job.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= job.category.name %>, <%= job.type_job %></h6>
      <p class="card-text"><%= job.description %></p>
       <p>
        <strong>It missing</strong>
        <%= 27 %> days to expiry
       </p>
      
  
      <%= link_to "Show this job", job, class:"btn btn-info" %>
 
      <%= link_to "Apply", apply_users_job_path(job), class:"btn btn-success" %>
  
      <%= button_to "Destroy this job", job, method: :delete, class:"btn btn-link" %>
    

    </div>
  </div>
  
  

 <br>
