  <div class="card" >
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <h5 class="card-title"><%= job.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <%= job.category.name %>, 
            <%= job.type_job %>
          </h6>
        </div>
        <div class="col">
          <% if user_have_applied?(job) %>
          <strong class="text-success">Você já se candidatou a está vaga</strong>
          <% end %>
        </div>
      </div>
      
      

      <div class="row">
        
        <div class="col-sm-3">
          <% user = get_user_by_job(job) %>
          <%= display_user_image(user)%> 
        </div>


        <div class="col">
          <% if @page_name_index %>
            <p class="card-text" ><%=  truncate_html(job.description.to_s, length: 100 ) %></p>
          
            
          <% else %>
            <p class="card-text" ><%= job.description %></p>
          <% end %>




          <% if time_ago_in_days?(job)  %>
             <p class="text-time-deadline">
          <% else %>
             <p class="text-time">
          <% end %>
              Created at: <%= time_ago_in_words(job.created_at) %> <br>
              Deadline: 30 days
             </p>

          <% if day_is_thirty(job)%>
            <% job_destroy_path(job) %>
          <% end %>

          <% if @page_name_index %>
            <%= link_to "Mostrar está oportunidade", job, class:"btn btn-outline-primary my-1" %>
          <% end %>
          <% if user_have_applied?(job) %>
      
            <%= button_to "Retirar a minha candidatura", destroy_users_job_path(job), class:"btn btn-outline-danger my-1" %> 

          <% elsif !is_the_owner_of_the_job?(job) %>
             <%= link_to "Candidatar-me agora", apply_users_job_path(job), class:"btn btn-success my-1" %>  
          <% end %>


          <% if is_the_owner_of_the_job?(job) %>

            <%= link_to "Editar está oportunidade", edit_job_path(job), class:"btn btn-warning my-1" %>

            <%= link_to "Candidatos", candidates_users_job_path(job), class:"btn btn-outline-secondary my-1" %>
            

            <%= button_to "Eliminar está oportunidade", job, method: :delete, class:"btn btn-outline-link my-1", form:{ data: { turbo_confirm: "Tens a certeza?"} }  %>
          <% end %>

        </div> 

      </div>

    </div>
  </div>

 <br>
