<div id="<%= dom_id job %>">
  <p>
    <strong>Title:</strong>
    <%= job.title %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= job.type_job %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= job.description %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= job.salary %>
  </p>

  <p>
    <strong>Expiry date:</strong>
    <%= job.expiry_date %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= job.category_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= job.user_id %>
  </p>

</div>
