  <div class="card" >
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
          <h5 class="card-title"> <i class="bi-briefcase-fill"></i> <%= job.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <i class="bi-tags-fill"></i> <%= job.category.name %>, 
            <i class="bi-geo-alt-fill"></i> <%= job.type_job %>
          </h6>
        </div>
      </div>


      <div class="row">
        
        <div class="col-sm-3">
          <% user = get_user_by_job(job) %>
          <div class="d-block">
            <%= display_user_image(user)%> 
          </div>      

        </div>


        <div class="col">
            <p class="card-text" ><%=  truncated_html(job.content) %></p>
          
            <div class="d-grid gap-2">
               <%= link_to "Colocar este post na lista negra", 
               job_create_path(job), class:"btn btn-danger my-1" %>  
            </div>
        
        </div> 
      </div>

    </div>
  </div>

 <br>
