<main class="container col-lg-6 my-4">
  <div class="card">
    <div class="card-body">
      <div class="card-title">
      	<h4 class="text-center">Log in</h4>
      </div>
      <div class="row my-2">

        <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          <%= f.password_field :password, autocomplete: "current-password" %>

          <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me %>
          <% end %>

        <div class="actions mb-3 d-grid gap-2 text-center">
          <%= f.submit "Log in",  class:"btn btn-success" %>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>

      </div>
  </div>
</main>