
  <div class="card text-center" id="<%= dom_id candidate%>" >
    <div class="card-body">
      <h5 class="card-title"><%= candidate.username %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= candidate.country.name_country %>, <%= candidate.localization_description %> </h6>
      <p class="card-text">
        
        <%=  display_user_image(candidate)%> 
        <br>
        <%= candidate.email %> 
      </p>
      
      <%= link_to "Mostrar este candidato", users_job_path(candidate), class:"btn btn-info" %>
 
    </div>
  </div>
  
  

 <br>
