<%= turbo_frame_tag "candidates" do %>

 <div class="card text-center" id="<%= dom_id @candidate%>" >
    <div class="card-body">
      <h5 class="card-title"><%= @candidate.username %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @candidate.country.name_country %>, <%= @candidate.localization_description %> </h6>
      <p class="card-text">
		<p>Usuario mostrado</p>        
        <%=  display_user_image(@candidate)%> 
        <br>
        <%= @candidate.email %> 
      </p>


  
      <% if @candidate.document.representable? %>
        <%= image_tag @candidate.document.representation(resize_to_limit: [10000, 10000]) %>
      <% else %>
        <h3>Este usuário não tem um documento.</h3>
      <% end %>
    </div>
  </div>
  
  

 <br>

 <% end %>