<div class="container col-sm-4">
  
<div class="card">
  <h5 class="card-header">Chat com a Empresa <%= @room.user.username if @room.present? %></h5>
  <div class="card-body" id="overflow-chat">


      <%= turbo_stream_from @room %>

      <%= turbo_frame_tag "room" do %>

        <div>
          <%= link_to "Conversas com candidatos", rooms_path, "data-turbo-frame":"_top" %>

          <%= button_to "Eliminar toda as conversas", @room, method: :delete %>
        </div>
      <% end %>

      <div id="messages">
        <%= render @room.messages %>
      </div>

      
    </div>
    <%= turbo_frame_tag "new_message", src: new_room_message_path(@room), target: "_top" %>
  </div>
</div>