<div class="container col-sm-4">
  
<div class="card">
  <h5 class="card-header">Chat com a Empresa <%= @room.user.username if @room.present? %></h5>
  <div class="card-body" id="overflow-chat">


      <%= turbo_stream_from @room %>

      <%= turbo_frame_tag "room" do %>

        <div class="d-grid gap-2 d-md-block">

          <ul class="nav justify-content-center">
            <li class="nav-item px-2">
              <%= link_to rooms_path, class:"btn btn-warning", "data-turbo-frame":"_top" do%>
               <i class="bi bi-people-fill"></i>
              <% end %>
              
            </li>
            <li class="nav-item">
              <%= button_to @room, class:"btn btn-danger", 
                form:{ data: { turbo_confirm: "Está acção vai eliminar toda a conversa com este candidato(a). Tens a certeza que pretendes eliminar?"} },
                method: :delete do %>

                <i class="bi bi-trash-fill"></i>

              <% end %>
            </li>
          </ul>

        </div>
        <hr/>
      <% end %>

      <div id="messages">
        <%= render @room.messages %>
      </div>

      
    </div>
    <%= turbo_frame_tag "new_message", src: new_room_message_path(@room), target: "_top" %>
  </div>
</div>