<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>Bumbagora</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" type="image/x-icon" href="<%= image_path('Bumbagora.png')%>" />
   <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <%= render 'layouts/header'%>
    <%= render 'layouts/search_check'%>
    <%= render 'layouts/search_bar'%>
    <%= render 'layouts/message' if notice %>
    <%= render 'layouts/alert' if alert %> 
    <%= yield %>
    <%= render 'layouts/footer'%>
  </body>
</html>
